<!-- 
<h5>lakshumanan</h5>


<mat-toolbar color="primary">
    <span class="fill-remaining-space">My Reactive Form with Material</span>
</mat-toolbar>

<div class="container" novalidate>
    <form [formGroup]="formGroup" class="form">

        <mat-form-field class="form-element">
            <input type="email" matInput placeholder="Emailaddress" formControlName="email">

        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput placeholder="Name" formControlName="name">

        </mat-form-field>



        <mat-form-field class="form-element">
            <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="5" formControlName="description"></textarea>

        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Company (disabled)</mat-label>
            <input matInput value="Google">
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>password</mat-label>
            <input matinput type="password" matInput placeholder="Password" formControlName="password">
            <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>

        </mat-form-field>

        <mat-form-field>
            <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
            </section>

        </mat-form-field>
        <div class="form-element">
            <mat-checkbox formControlName="validate" value="1">Name min. 3 characters</mat-checkbox>
        </div>

        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="butto">Submit Form</button>
        </div>



    </form>
</div>
 new Form 



</form>
</form> -->


<!--Validation -->

<!-----
<div class="form-wrapper-outer tabsli">
    <form [formGroup]="loginForm" autocomplete="off">
        <div fxLayou="column" fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
            <mat-form-field appearance="outline">
                <mat-label>User ID</mat-label>
                <input matInput placeholder="" formControlName="email" />
                <mat-error *ngIf="
          loginForm.get('email')?.invalid &&
          (loginForm.get('email')?.touched ||
            loginForm.get('email')?.dirty) &&
          loginForm.get('email')?.hasError('required')
        ">
                    Mall Idis required
                </mat-error>
                <mat-error *ngIf="
        loginForm.get('email')?.invalid &&
        (loginForm.get('email')?.touched ||
          loginForm.get('email')?.dirty) &&
        loginForm.get('email')?.hasError('email')
      ">
                    Mail Id is not vali
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayou="column" fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                <mat-icon matSuffix (click)="hide = !hide">
                    {{
                    hide ? "visibility_off" : "visibility"
                    }}
                </mat-icon>
                <mat-error *ngIf="
        loginForm.get('password')?.invalid &&
        (loginForm.get('password')?.touched ||
          loginForm.get('password')?.dirty) &&
        loginForm.get('password')?.hasError('required')
      ">
                    password is required
                </mat-error>
                <mat-error *ngIf="
      loginForm.get('password')?.invalid &&
      (loginForm.get('password')?.touched ||
        loginForm.get('password')?.dirty) &&
      loginForm.get('password')?.errors?.['minlength']
    ">
                    Password must be at least 8 characters
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-button [disabled]="loginForm.invalid" class="btn btn-primary">
            LOGIN
        </button>



    </form>
</div>


<!--from-


<form [formGroup]="formGroup" class="form">

    <mat-form-field>
        <p>name</p>
        <input matinput placeholder="ssss" formControlName="ss">
    </mat-form-field>

    <mat-form-field>
        <p>password</p>
        <input matinput placeholder="0000" formControlName="00">
    </mat-form-field>


    <mat-form-field appearance="outline">
        <mat-label>e mail </mat-label>
        <input matinput placeholder="email" formControlName="email">
    </mat-form-field>

    <mat-card>
        <section class="example-section">
            <label class="example-margin">Align:</label>
            <mat-radio-group [(ngModel)]="labelPosition">
                <mat-radio-button class="example-margin" value="after">After</mat-radio-button>
                <mat-radio-button class="example-margin" value="before">Before</mat-radio-button>
            </mat-radio-group>
        </section>
    </mat-card>



</form>


<!--from 1-->

<!-- <form [formGroup]="formGroup" class="form">

    <mat-form-field >
        <span>name</span>
        <input matinput placeholder="name" formControlName="mani">
    </mat-form-field>

    <mat-form-field>
        <span>password</span>
        <input matinput placeholder="222" formControlName="222">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <span>D.O.B</span>
        <input matinput placeholder="D.O.B" formControlNumber="12/12/12">
    </mat-form-field>
    <br>
    <button>button</button>
    <br>
    <img src="D:\\image icon.jpg" alt="" width="100px" height="100px">
    <br>


    <br>
    <br>
    <br>

    <section class="example-section">
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
    </section>

</form>

<laxmanana>

<h5>BioData-Form</h5>

    <from [formGroup]="formGroup" class="form">

        
        <mat-form-field appearance="outline">
            <mat-label> name</mat-label>
             <input matInput formControlName="name">
         
        </mat-form-field>

        <br>

        <mat-form-field appearance="outline">
            <mat-label>last name</mat-label>
            <input matInput  formControlName="lname">
        </mat-form-field>

        <br>
        <mat-form-field appearance="outline">
            <mat-label  >password</mat-label>
           
            <input matInput  formControlName="password">
        </mat-form-field>

        <br>
        <mat-form-field appearance="outline">
            <mat-label>Data of Bith</mat-label>
           
            <input matInput formControlName="dob">
            <mat-icon>calendar_today</mat-icon>
        </mat-form-field>
        
        <br>
        <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input matInput formControlName="email">
             
        </mat-form-field>

        <br>
        <mat-label >gender </mat-label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">male </mat-radio-button>
            <mat-radio-button value="2">female </mat-radio-button>
          </mat-radio-group>
        <br>

        <button mat-button class="c">button</button>
         

    </from>
</form> 

  <h5>form laxman</h5>

<from [formGroup]="formGroup" class="form">

        
    <mat-form-field appearance="outline">
        <mat-label> name</mat-label>
         <input matInput placeholder="name"   formControlName="name">
    </mat-form-field>

    <br>
    <mat-form-field appearance="outline">
        <mat-label> password</mat-label>
         <input matInput formControlName="password"> 
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
        <mat-label> email</mat-label>
         <input matInput formControlName="email">  
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
        <mat-label> address</mat-label>
         <input matInput formControlName="address">  
    </mat-form-field>
    <br>
     
    <button class="c">buttom</button>
   
   
</from>-->
<br>


<from [formGroup]="formGroup" class="form">

    <mat-form-field>
        <mat-label> name</mat-label>
        <input matInput placeholder="name" formControlName="name">
    </mat-form-field>

     <br>
    <mat-form-field  appearance="outline">
        <mat-label> email</mat-label>
        <input matInput placeholder="email" formControlName="email">
    </mat-form-field>
    <br>
    <mat-label> password</mat-label>
    <mat-form-field>
        <mat-label> password</mat-label>
        <input matInput placeholder="password" formControlName="password">
    </mat-form-field>


    <br>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">male</mat-radio-button>
        <mat-radio-button value="2">female</mat-radio-button>
    </mat-radio-group>
    <br>
    <br>

    <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
    </section>





</from>





******xxxx*****
*****xxxx******
<!------
<div class="container">

  <form [formGroup]="loginForm">
    <h2>lakshumanan form </h2>

    <mat-label class="label-style">Name</mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="name" formControlName="name" />
      <mat-error *ngIf="
        loginForm.get('name')?.invalid &&
        (loginForm.get('name')?.touched ||
          loginForm.get('name')?.dirty) &&
        loginForm.get('name')?.hasError('required')
      ">
        name is required </mat-error>
    </mat-form-field>
    <br>

    <mat-label class="label-style">password</mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="password" formControlName="password" />
      <mat-error *ngIf="
        loginForm.get('password')?.invalid &&
        (loginForm.get('password')?.touched ||
          loginForm.get('password')?.dirty) &&
        loginForm.get('password')?.hasError('required')
      ">
        password is required </mat-error>
    </mat-form-field>
    <br>

    <mat-label class="label-style"> email</mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="email" formControlName="email" />
      <mat-error *ngIf="
            loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.touched ||
              loginForm.get('email')?.dirty) &&
            loginForm.get('email')?.hasError('required')
          ">
        Mail Id is required
      </mat-error>
      <mat-error *ngIf="
            loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.touched ||
              loginForm.get('email')?.dirty) &&
            loginForm.get('email')?.hasError('email')
          ">
        Mail Id is not valid
      </mat-error>
    </mat-form-field>
    <br>

    <mat-label class="label-style">phonenumber</mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="+91" formControlName="phonenumber" />
      <mat-error *ngIf="
        loginForm.get('phonenumber')?.invalid &&
        (loginForm.get('phonenumber')?.touched ||
          loginForm.get('phonenumber')?.dirty) &&
        loginForm.get('phonenumber')?.hasError('required')
      ">
        phone number is required </mat-error>
        </mat-form-field>
    <br>

    <mat-label class="label-style">Dataof bith</mat-label>
    <mat-form-field appearance="outline">
  <input matInput placeholder="Dataofbith" formControlName="Dataofbirth" />
      <mat-error *ngIf="
        loginForm.get('Dataofbirth')?.invalid &&
        (loginForm.get('Dataofbirth')?.touched ||
          loginForm.get('Dataofbirth')?.dirty) &&
        loginForm.get('Dataofbirth')?.hasError('required')
      ">
        Dataofbirth is required </mat-error>
    </mat-form-field>
    <br>

   
        <mat-label class="label-style">gender</mat-label>      
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button value="1">male</mat-radio-button>
        <mat-radio-button value="2">female</mat-radio-button>
      </mat-radio-group>
      
      <mat-error *ngIf="
        loginForm.get('gender')?.invalid &&
        (loginForm.get('gender')?.touched ||
          loginForm.get('gender')?.dirty) &&
        loginForm.get('gender')?.hasError('required')
      ">
        gender is required </mat-error>
    
     
    <br>

    <mat-label class="label-style">languages</mat-label>
  
      <mat-checkbox class="example-margin">tamil</mat-checkbox>.
      <mat-checkbox class="example-margin">English</mat-checkbox>
     
      <mat-error *ngIf="
        loginForm.get('languages')?.invalid &&
        (loginForm.get('languages')?.touched ||
          loginForm.get('languages')?.dirty) &&
        loginForm.get('languages')?.hasError('required')
      ">
        languages is required </mat-error>
    
    <br>
    <br>
    <mat-label class="label-style">address</mat-label>
    <mat-form-field appearance="outline">
      <textarea matInput formControlName="address"></textarea>
      <mat-error *ngIf="
        loginForm.get('address')?.invalid &&
        (loginForm.get('address')?.touched ||
          loginForm.get('address')?.dirty) &&
        loginForm.get('address')?.hasError('required')
      ">
        address is required </mat-error>
    </mat-form-field>
    <br>
    <br>


    <mat-label class="label-style"> Qualification</mat-label>
    
      <mat-form-field appearance="outline" formControlName="Qualification">
        <mat-select placeholder="">
          <mat-option value="10" > 10 </mat-option>
          <mat-option value="+2"> +2 </mat-option>
          <mat-option value="degree"> degree </mat-option>
        </mat-select>
      </mat-form-field>
      
     
      
      <mat-error *ngIf="
        loginForm.get('Qualification')?.invalid &&
        (loginForm.get('Qualification')?.touched ||
          loginForm.get('Qualification')?.dirty) &&
        loginForm.get('Qualification')?.hasError('required')
      ">
        Qualification is required </mat-error>
    
    <br>
  
 
    <button mat-button>button</button>
    <br>

   
  </form>
</div>-  

          ************xxxx***********
          ************xxxxx************



  <!-- <mat-label class="label-style">gender</mat-label>
    <mat-form-field appearance="outline">
       <mat-form-field appearance="outline">
      
    <input id="male" type="radio" class="custom-control-input" value="male" name="gender" formControlName="gender" >
              <label class="custom-control-label" for="male">Male</label>

              <input id="female" type="radio" class="custom-control-input" value="female" name="gender" formControlName="gender" >
              <label class="custom-control-label" for="female" >Female</label>
            </mat-form-field> --
            ***************
            *********
            <div class="form-group col">
              <mat-label>title</mat-label>
              <mat-label formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                  <option value=""></option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Miss">Miss</option>
                  <option value="Ms">Ms</option>
              </mat-label>
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">title is required</div>
              </div>
          </div>---->

          <br>


          <!----
            <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
          
          
            <mat-checkbox class="example-margin">tamil</mat-checkbox>.
                <mat-checkbox class="example-margin">English</mat-checkbox>
          
          
            <label>Highlight</label>
            <select  [(ngModel)]="selectedname" (change)="onChangeName($event)">
                           
                                  <option [label] ="name" *ngFor="let name of NAMES" [selected]="selected" [value]="name">{{name}}</option>
           </select>
          
          
            <mat-form-field>
                <mat-select placeholder="Qualification">
                  <mat-option value="male"> 10 </mat-option>
                  <mat-option value="male"> +2 </mat-option>
                  <mat-option value="female"> degree </mat-option>
                </mat-select>
              </mat-form-field>
          
          
              <div class="form-row">
                          <div class="form-group col">
                              <label>Date of Birth</label>
                              <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                              <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                  <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                                  <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                              </div>
          
                         
          
                            <div class="form-group col">
                              <label>Title</label>
                              <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                  <option value=""></option>
                                  <option value="Mr">Mr</option>
                                  <option value="Mrs">Mrs</option>
                                  <option value="Miss">Miss</option>
                                  <option value="Ms">Ms</option>
                              </select>
                              <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                  <div *ngIf="f.title.errors.required">Title is required</div>
                              </div>
                            </div>
                            *************xxxx************
                            **********xxxxxx************
                           
                --->
          <br>
          <div class="container">
            <form [formGroup]="loginForm" class="form">
          
          
              <h2>lax form</h2>
          
              <mat-label class="label-style">name</mat-label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="name" formControlName="name">
          
                <mat-error *ngIf="
                     loginForm.get('name')?.invalid &&
                     (loginForm.get('name')?.touched ||
                     loginForm.get('name')?.dirty) &&
                     loginForm.get('name')?.hasError('required')
                  ">
                  name is required and  </mat-error>
          
              </mat-form-field>
              <br>
          
              <mat-label class="label-style">password</mat-label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="password" formControlName="password">
                <mat-error *ngIf="
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.touched ||
                  loginForm.get('password')?.dirty) &&
                loginForm.get('password')?.hasError('required')
              ">
              password is required </mat-error>
          
              </mat-form-field>
              <br>
              
              <mat-label class="label-style">email</mat-label>
              <mat-form-field appearance="outline" value="lax@gmail.com">
                 <input matInput placeholder="email"formControlName="email">
                 <mat-error *ngIf="
                 loginForm.get('email')?.invalid &&
                 (loginForm.get('email')?.touched ||
                   loginForm.get('email')?.dirty) &&
                 loginForm.get('email')?.hasError('required')
               ">
               email is required </mat-error>
              </mat-form-field>
              <br>
          
              <mat-label class="label-style"> phonenumber</mat-label>
              <mat-form-field appearance="outline">
                 <input matInput placeholder=" phonenumber"formControlName="phonenumber">
                 <mat-error *ngIf="
                 loginForm.get('phonenumber')?.invalid &&
                 (loginForm.get('phonenumber')?.touched ||
                   loginForm.get('phonenumber')?.dirty) &&
                 loginForm.get('phonenumber')?.hasError('required')
               ">
               phonenumber is required </mat-error>
              </mat-form-field>
              <br>
            
              <mat-label class="label-style"> Dataofbirth</mat-label>
              <mat-form-field appearance="outline" value="12/12/12" >
                 <input matInput placeholder="Dataofbirth"formControlName="Dataofbirth">
                 <mat-error *ngIf="
                 loginForm.get('Dataofbirth')?.invalid &&
                 (loginForm.get('Dataofbirth')?.touched ||
                   loginForm.get('Dataofbirth')?.dirty) &&
                 loginForm.get('Dataofbirth')?.hasError('required')
               ">
               Dataofbirth is required </mat-error>
               
              </mat-form-field>
              <br>
            
          
              <mat-label class="label-style"> Qualification</mat-label>
              
                <mat-form-field appearance="outline" formControlName=" Qualification">
                  <mat-select placeholder="">
                    <mat-option value="10" > 10 </mat-option>
                    <mat-option value="+2"> +2 </mat-option>
                    <mat-option value="degree"> degree </mat-option>
                  </mat-select>
                
                <mat-error *ngIf="
                  loginForm.get('Qualification')?.invalid &&
                  (loginForm.get('Qualification')?.touched ||
                    loginForm.get('Qualification')?.dirty) &&
                  loginForm.get('Qualification')?.hasError('required')
                ">
                Qualification is required </mat-error>
                </mat-form-field>
                   
              
             
              <br>
          
              <mat-label class="label-style">gender</mat-label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="" formControlName="gender">
                <mat-radio-button value="1">male</mat-radio-button>
                  <mat-radio-button value="2">female</mat-radio-button>
                 <mat-error *ngIf="
                 loginForm.get('gender')?.invalid &&
                 (loginForm.get('gender')?.touched ||
                   loginForm.get('gender')?.dirty) &&
                 loginForm.get('gender')?.hasError('required')
               ">
               gender is required </mat-error>
              </mat-form-field>
              <br>
          
              <mat-label class="label-style">languages</mat-label>
              <mat-form-field appearance="outline">
                <mat-checkbox class="example-margin">tamil</mat-checkbox>.
                <mat-checkbox class="example-margin">English</mat-checkbox>
               
                 <input matInput placeholder=""formControlName="languages">
                 <mat-error *ngIf="
                 loginForm.get('languages')?.invalid &&
                 (loginForm.get('languages')?.touched ||
                   loginForm.get('languages')?.dirty) &&
                 loginForm.get('languages')?.hasError('required')
               ">
               languages is required </mat-error>
              </mat-form-field>
              
              <br>
          
              <mat-label class="label-style">address</mat-label>
              <mat-form-field appearance="outline">
                <textarea matInput formControlName="address"></textarea>
                 <mat-error *ngIf="
                 loginForm.get('address')?.invalid &&
                 (loginForm.get('address')?.touched ||
                   loginForm.get('address')?.dirty) &&
                 loginForm.get('address')?.hasError('required')
               ">
                 address is required </mat-error>
              </mat-form-field>
              <br>
          
              <button mat-button>button</button>
              <br>
              <br>
             
          
              
          
          
          
          
          
            </form>
          
          </div>
          
          
          <!-----
          
          <mat-error *ngIf="
                 loginForm.get('name')?.invalid &&
                 (loginForm.get('name')?.touched ||
                   loginForm.get('name')?.dirty) &&
                 loginForm.get('name')?.hasError('required')
               ">
                 name is required </mat-error>
          <br>
                 <mat-error *ngIf="
                 loginForm.get('password')?.invalid &&
                 (loginForm.get('password')?.touched ||
                   loginForm.get('password')?.dirty) &&
                 loginForm.get('password')?.hasError('required')
               ">
               password is required </mat-error>
          
          
          
          
               successfully
                 
          --->